
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('./components/components-styles/shuttleUI-main.css');
@import url('./docs-site/docs-display-component.css');
@import url('./docs-site/docs-navbar.css');
@import url('./docs-site/docs-landing-page.css');

body{
    display: flex;
    flex-direction: column;
    min-height:100vh; 
}
