:root{
    --border-color:#eeeeee;
    --text-highlight-color:#9a94a1;
}

.example-container{
    display: flex;
    flex-direction: column;
    width : 70vw;
    height:auto;
    border: 2px solid var(--border-color);
    margin: 1rem;
}

.example-container-align-horizontal{
    display: flex;
    width : 70vw;
    height:auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px solid var(--border-color);
    padding: 1.6rem;
    margin:1rem;
}

.description{
    margin: 1rem;
}

.highlight{
    color: var(--text-highlight-color);
}