.main-container{
    display: flex;
    flex-direction: column;
    margin: 3.5rem 2rem 3.5rem 38rem;
    width:70%;
}

@media screen and (max-width:1024px){
    .sidenav{
        display: none;
    }

    .main-container{
        margin:3.5rem auto;
        padding-right: 2rem;
        width:100%;
        overflow: auto;
      }

    .site-logo{
        height:5rem;
        width: 20rem;
    }

}

