:root{
    --PRIMARY-ALERT-COLOR:#1950a1;
    --SECONDARY-ALERT-COLOR:#55595e;
    --SUCCESS-ALERT-COLOR:#1e5c3f;
    --DANGER-ALERT-COLOR:#973e46;
    --WARNING-ALERT-COLOR:#a18d51;
    --INFO-ALERT-COLOR:#145d6c;
    --PRIMARY-ALERT-BGCOLOR:#cfe2ff;
    --SECONDARY-ALERT-BGCOLOR:#e2e3e5;
    --SUCCESS-ALERT-BGCOLOR:#d1e7dd;
    --DANGER-ALERT-BGCOLOR:#f8d7da;
    --WARNING-ALERT-BGCOLOR:#fff3cd;
    --INFO-ALERT-BGCOLOR:#cff4fc;
}

.alert{
    font-size: 1.6rem;
    padding:1rem;
    margin: 1.6rem;
}

.alert-primary{
    background-color: var(--PRIMARY-ALERT-BGCOLOR);
    color: var(--PRIMARY-ALERT-COLOR)
}

.alert-secondary{
    background-color: var(--SECONDARY-ALERT-BGCOLOR);
    color: var(--SECONDARY-ALERT-COLOR)
}

.alert-success{
    background-color: var(--SUCCESS-ALERT-BGCOLOR);
    color: var(--SUCCESS-ALERT-COLOR);
}

.alert-danger{
    background-color: var(--DANGER-ALERT-BGCOLOR);
    color: var(--DANGER-ALERT-COLOR);
}

.alert-warning{
    background-color: var(--WARNING-ALERT-BGCOLOR);
    color:var(--WARNING-ALERT-COLOR);
}

.alert-info{
    background-color: var(--INFO-ALERT-BGCOLOR);
    color: var(--INFO-ALERT-COLOR);
}

.align-center{
    display: flex;
    align-items: center;
}