/*RESET CSS*/

:root{
    --PRIMARY-ALERT-COLOR:#1950a1;
    --SECONDARY-ALERT-COLOR:#55595e;
    --SUCCESS-ALERT-COLOR:#1e5c3f;
    --DANGER-ALERT-COLOR:#973e46;
    --WARNING-ALERT-COLOR:#a18d51;
    --INFO-ALERT-COLOR:#145d6c;
    --PRIMARY-ALERT-BGCOLOR:#cfe2ff;
    --SECONDARY-ALERT-BGCOLOR:#e2e3e5;
    --SUCCESS-ALERT-BGCOLOR:#d1e7dd;
    --DANGER-ALERT-BGCOLOR:#f8d7da;
    --WARNING-ALERT-BGCOLOR:#fff3cd;
    --INFO-ALERT-BGCOLOR:#cff4fc;

    --WHITE-COLOR:#FFF;
    --IMG-BGCOLOR:#eeeeee;

    --PRIMARY-BADGE-COLOR: #4B4453;
    --BADGE-TEXT-COLOR :#FFF;
    --STATUS-ONLINE-COLOR:#ff9204;
    --STATUS-OFFLINE-COLOR: #808080;
    --STATUS-DND-COLOR: #FF0000;

    --PRIMARY-BTN-COLOR : #4B4453;
    --SECONDARY-BTN-COLOR: #9a94a1;
    --BLACK-TEXT-COLOR: #000;
    --SUCCESS-BTN-COLOR:#FFD700;
    --INFO-BTN-COLOR:#87ceeb;

    --WHITE-COLOR:#FFF;
    --MYRTEL-GREEN-COLOR: #307473;
    --GRAY-COLOR:	#A9A9A9;
    --ORANGE-COLOR: #FFA500;
    --DEFAULT-CARD-SHADOW-1: rgba(0,0,0,0.16);
    --DEFAULT-CARD-SHADOW-2: rgba(0,0,0,0.23);
    --CARD-HOVER-SHADOW-1:rgba(0,0,0,0.12);
    --CARD-HOVER-SHADOW-2:rgba(0,0,0,0.24);
    --ALTRNATE-CARD-SHADOW-1:rgba(0,0,0,0.30);
    --ALTRNATE-CARD-SHADOW-2:rgba(0,0,0,0.22);

    --BORDER-COLOR:#eeeeee;
    --TEXT-HIGHLIGHT-COLOR:#808F87;
    --PRIMARY-COLOR: #4B4453;
    --SECONDARY-COLOR: #9a94a1;
    --BLACK-COLOR:#000;
    --WHITE-COLOR:#FFF;
    --GREY-COLOR:#eee;
    --GREY-COLOR-2:#F9F7F7; 
    --INDIAN-YELLOW:#dda448;
}

html{
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  object-fit: cover;
}