/*RESET CSS*/

html{
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  object-fit: cover;
}