.nav-container{
    width: 100%;
    height: 8.5rem;
    background-color: var(--PRIMARY-COLOR);
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    border-radius: 0 0 0px 0;
    position:sticky;
    top: 0;
    z-index: 2;
    
}

.site-logo{
    height:5rem;
    width: 25rem;
}

.navbar-links{
    list-style: none;
}

.nav-link{
    color: var(--WHITE-COLOR);
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    transition: all .4s ease;
    border-radius:5px;
    list-style: none;
}

.nav-link:hover {
    background: var(--WHITE-COLOR);
    color:var(--BLACK-COLOR);
}

footer{
    max-width:100vw;
    width: 100%;
    overflow: hidden;
    height: 8.5rem;
    background-color: var(--PRIMARY-COLOR);
    position: relative;
    z-index: 2;
}

.footer-description{
    font-size: 1.6rem;
    color: var(--WHITE-COLOR);
    text-align: center;
    width: 100vw;
}

.footer-links{
    list-style: none;
}

.navbar-brand{
    align-items: center;
}

.btn-hamburger{
    font-size: 2.5rem;
    color: var(--WHITE-COLOR);
    display: none;
}